/* .mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.headertags {
  display: flex;
  gap: 20px;
} */
